/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --dkblue: #002B36;
    --rblue: #073642;
    --blgray: #586E75;
    --lgblue: #657B83;
    --plblue: #839496;
    --lgpurple: #85A5CC;
    --anblue: #D0E4F2;
    --yanblue: #59D8E6;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Roboto Mono", monospace;
    --sans: "Space Mono", sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--dkblue);
  color: var(--white);
  font-size: var(--font-size)
}

h1, h2, h3 {
  margin: 0;
}

.gradient {
  background: linear-gradient(90deg, rgba(41,45,163,1) 0%, rgba(169,1,166,1) 100%);
  height: 3px;
}

img {
  width: 100%;
}

.section-rblue {
  background-color: var(--rblue);
}

/*about bg color*/

.rblue {
  background-color: var(--rblue);
}

/*intro styles*/

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var( --lgpurple);
  display: block;
}

#intro h2 {
  font-size: 3rem
}


/*nav bar*/
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--lgpurple);
}

nav [class*="fa-"]:hover {
  color: var(--yanblue);
}

nav h1 [class*="fa-"] {
  font-size: 105%;
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--yanblue);
}

.nicon {
  padding: 0 0.5rem;
}

.button {
  background-color: var(--blgray);
  padding: 0.4rem;
  border-radius: 6px;
}

.button:hover {
  color: var(--white);
  background-color: var(--yanblue);
}

/*projects*/

#projects {
  padding: 4rem 1rem;
}

#projects a {
  color: var(--lgpurple);
}

#projects a:hover {
  color: var(--yanblue);
  text-decoration: none;
}

#projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5)
}

#projects h3 {
  color: var(--lgpurple);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}

.black-box {
  background-color: var(--blgray);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

#projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--lgpurple);
  border-top: 1px solid var(--lgpurple);
  border-radius: 25px;
  padding: 1rem;
}

@media (min-width: 800px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }
  
  #projects .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }
  
  #projects .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }
  
  #projects .reverse ul {
    justify-content: flex-start;
  }
  
  #projects ul {
    justify-content: flex-end;
  }
  
}

@media(min-width:850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}


.section-footer {
  text-align: center;
  padding: 4rem 0;
}


.section-footer ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 3rem;
  justify-content: center;
  padding: 0;
  margin: 2rem 0;
}

.section-footer li a {
  padding: 20px;
  font-size: 200%;
}


footer [class*="fa-"] {
  font-size: 150%;
  color: var(--lgpurple);
}

footer [class*="fa-"]:hover {
  color: var(--yanblue);
}

#contact {
    background-color: var(--lgblue);
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
  }
  
#contact a {
    color: var(--white);
    text-decoration: none;
  }
  
#contact a:hover {
    color: var(--white);
    text-decoration: none;
  }

/* about page */

.info {
  padding: 4rem 0;
}

.info h2 {
  color: var(--lgpurple);
  font-size: 2rem;
}

.info h3 {
  color: var(--yanblue);
}

.info h4 {
  margin: 0;
}

.info a {
  color: var(--lgpurple);
}

.info a:hover {
  color: var(--yanblue);
  text-decoration: none;
}

.info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 1rem;
}

.info img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--lgpurple);
  border-top: 1px solid var(--lgpurple);
  border-radius: 25px;
  padding: 1rem;
}



@media (min-width: 300px) {
  .about-nav {
    padding: 4rem 0;
    background-color: var(--dkblue);
  }

  .info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4rem;
  }

  .info img {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 2;
    text-align: right;
  }

}
